<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

<hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>

        {% endif %}
    {% endwith %}
  Ratings
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>