{% extends 'base.html' %}
{% block content %}

<h1>{{ user.email }} ({{ user.user_id }})</h1>

<h3>User info</h3>
<p>Age: {{ user.age }}</p>
<p>Zipcode: {{ user.zipcode }}</p>

<br/>

<h2>Movie Ratings</h2>
    {% if user.ratings %}
    <div>
        <ul>
            {% for rating in user.ratings %}
                <li>Score: {{ rating.score }}, 
                    <a href="/movies/{{ rating.movie_id }}">{{ rating.movie.title }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <div><h3>No ratings have been added.<h3></div>
    {% endif %}

{% endblock%}